{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karlovačka 31</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<div class="page-header">
    {% if user.is_authenticated %}
        <div class="pull-right">
            <a href="{% url 'post_new' %}" class="top-menu pull-left" style="color: #ffbc10"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'logout' %}" class="top-menu" style="color: #ffbc10"><span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu" style="color: #ffbc10"><span class="glyphicon glyphicon-log-in"></span></a>
    {% endif %}
    <h1>
        <a href="/">
            <span class="glyphicon glyphicon-home" style="margin-right: 20px; margin-left: 20px"></span>
            Karlovačka 31
        </a>
    </h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-3 col-md-offset-3">

            {% block phones %}
            {% endblock %}

        </div>

    </div>
</div>

</body>
</html>