body {
    height:100%;
    background: linear-gradient(-50deg, #c2c8ff, #ffffc6) no-repeat;
}

.page-header {
    background-color: #3346b4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffbc10;
    font-size: 36pt;
    text-decoration: none;
    /*margin-left: 10%;*/
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffbc10;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #3346b4;
}

.detailed-post {
    margin-bottom: 100%;
}

.detailed-post h1 {
    color: #3346b4;
}

.published-date {
    color: #8e8e8e;
}



/* CSS za vazne telefone */

.vazniTelefoni {
    color: #3346b4;
}

.panel-default {
    box-shadow: 5px 5px 2px grey;
}

.panel-default > .panel-heading-custom {
    background: #ffbc10;
    color: #3346b4;
}

.panel-default > .panel-heading-custom > .panel-title {
    font-size: 20px;
}

.btn-custom {
    background: #3346b4;
    color: #FFFFC6;
}

.btn-custom:hover {
  border-color: #3346b4;
  background-color: #ffbc10;
}